<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tjau.ifarmer.mapper.DeliveryAddressMapper">
  <resultMap id="BaseResultMap" type="cn.tjau.ifarmer.domain.DeliveryAddress">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="detail_address" jdbcType="VARCHAR" property="detailAddress" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, telephone,address,detail_address,uid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cl_user_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from cl_user_address
    where uid = #{uid}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cl_user_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="cn.tjau.ifarmer.domain.DeliveryAddress">
    insert into cl_user_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="detailAddress != null">
        detail_address,
      </if>
      <if test="uid != null">
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone},
      </if>
      <if test="address != null">
        #{address},
      </if>
      <if test="detailAddress != null">
        #{detailAddress},
      </if>
      <if test="uid != null">
        #{uid},
      </if>
    </trim>
  </insert>
  <update id="updateByUidSelective" parameterType="cn.tjau.ifarmer.domain.DeliveryAddress">
    update cl_user_address
    <set>
      <if test="id != null">
        id=#{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        username=#{username,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone=#{telephone},
      </if>
      <if test="address != null">
       address= #{address},
      </if>
      <if test="detailAddress != null">
        detail_address=#{detailAddress},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tjau.ifarmer.domain.Admin">
    update admin
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>